/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para la navegación */
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido adicional */
aside {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}